
<p>
<strong>Booking code:</strong>
<%= @booking.booking_code %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Room title:</strong>
  <%= @room.title %>
</p>

<p>
  <strong>Room address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Room image:</strong>
  <%= @room.image %>
</p>

