<%= form_for @room, url: rooms_path, :method => :POST do |f| %>
    <p>
      <strong>Title:</strong>
      <%= f.text_field :title,:readonly => true, class: 'form-control' %>
    </p>
    
    <p>
      <strong>Address:</strong>
       <%= f.text_field :address,:readonly => true, class: 'form-control' %>
    </p>

    <p>
      <strong>Square meteres: </strong>
      <%= @room.try(:diameter) ? @room.diameter : 'na'%>
      <%= @room.try(:radius) ? "x #{@room.radius}" : 'na' %>
    </p>

    <p>
      <strong>Contins balcony: </strong>
      <%= @room.try(:balcony) ? @room.balcony : 'na'%>
    </p>

    <p>
      <strong>Number of beds: </strong>
      <%= @room.try(:no_beds) ? @room.no_beds : 'na'%>
    </p>

    <p>
      <strong>Number of windows: </strong>
      <%= @room.try(:no_windows) ? @room.no_windows : 'na'%>
    </p>

    <p>
      <strong>Contains balcony:</strong>
      <%= f.label humanize(:balcony) %>
    </p>

    <p>
      <strong>Contains heating:</strong>
      <%= f.label humanize(:heating) %>
    </p>

    <p>
      <strong>Contains furniture:</strong>
      <%= f.label humanize(:furnished) %>
    </p>

    <p>
     <strong>Date:</strong>
     <%= text_field_tag :date, params[:date], id: 'date' %>
    </p>

    <% if logged_in? %>
      <p>
        <strong>user:</strong>
        <%= current_user.name %>
      </p>
    <% else %>
    <% end %>

    <%= f.submit "Create booking", class: "btn" %>
  <% end %>
